<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links Of CSS File -->
    <link rel="stylesheet" href="/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="/assets/css/simplebar.css">
    <link rel="stylesheet" href="/assets/css/apexcharts.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/rangeslider.css">
    <link rel="stylesheet" href="/assets/css/sweetalert.min.css">
    <link rel="stylesheet" href="/assets/css/quill.snow.css">
    <link rel="stylesheet" href="/assets/css/google-icon.css">
    <link rel="stylesheet" href="/assets/css/remixicon.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/fullcalendar.main.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <style>
        /* Custom additional styling */
        .bom-table {
            margin-top: 20px;
        }

        .centered-btn {
            text-align: right;
            margin-top: 20px;
        }

        .centered-btn2 {
            text-align: center;
            margin-top: 20px;
        }

        .bom-header {
            border-bottom: 1px solid #ccc;
            padding-bottom: 1px;
            margin-bottom: 20px;
        }

        .form-label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .table th, .table td {
            vertical-align: middle;
            padding: 10px;
        }

        /* 테이블 헤더의 글씨 크기 조정 */
        .table th {
            font-size: 16px;
        }

        /* 테이블 바디의 글씨 크기 조정 */
        .table td input, .table td select {
            font-size: 14px;
        }


    </style>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Title -->
    <title>MKM - BOM 등록 </title>

</head>

<body class="boxed-size">

<!-- Start Sidebar Area -->
<div class="sidebar-area" id="sidebar-area">
    <div class="logo position-relative">
        <a href="/main" class="d-block text-decoration-none position-relative">
            <img src="/assets/images/logo-icon.png" alt="logo-icon">
            <span class="logo-text fw-bold text-dark">MKM</span>
        </a>
        <button class="sidebar-burger-menu bg-transparent p-0 border-0 opacity-0 z-n1 position-absolute top-50 end-0 translate-middle-y"
                id="sidebar-burger-menu">
            <i data-feather="x"></i>
        </button>
    </div>

    <aside id="layout-menu" class="layout-menu menu-vertical menu" data-simplebar>
        <ul class="menu-inner">
            <!-- 작업 관리 메뉴 -->
            <li class="menu-title small text-uppercase">
                <span class="menu-title-text">작업 관리</span>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle active">
                    <span class="material-symbols-outlined menu-icon">dashboard</span>
                    <span class="title">작업 관리 메뉴</span>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/manage/work/plans" class="menu-link">생산 계획 등록</a>
                    </li>
                    <li class="menu-item">
                        <a href="crm.html" class="menu-link">작업 지시 관리</a>
                    </li>
                    <li class="menu-item">
                        <a href="project-management.html" class="menu-link">작업 실적 등록</a>
                    </li>
                </ul>
            </li>
            <!-- 자재 관리 메뉴 -->
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <span class="material-symbols-outlined menu-icon">dashboard</span>
                    <span class="title">자재 관리 메뉴</span>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="12.html" class="menu-link">자재 출고 관리</a>
                    </li>
                    <li class="menu-item">
                        <a href="crm.html" class="menu-link">재고 현황</a>
                    </li>
                    <li class="menu-item">
                        <a href="project-management.html" class="menu-link">발주 요청</a>
                    </li>
                </ul>
            </li>
            <!-- 기초 정보 관리 메뉴 -->
            <li class="menu-item open">
                <a href="javascript:void(0);" class="menu-link menu-toggle active">
                    <span class="material-symbols-outlined menu-icon">dashboard</span>
                    <span class="title">기초 정보 관리 메뉴</span>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="/information/product" class="menu-link">품목 등록</a>
                    </li>
                    <li class="menu-item">
                        <a href="/information/team" class="menu-link">생산팀 등록</a>
                    </li>
                    <li class="menu-item after-sub-menu menu-level active">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <span class="title">BOM 관리</span>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/information/bom/register" class="menu-link">BOM 등록</a>
                            </li>
                            <li class="menu-item active">
                                <a href="/information/bom/inquiry" class="menu-link">BOM 조회</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">BOM 정전개</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/information/company" class="menu-link">회사 정보 관리</a>
                    </li>
                </ul>
            </li>
            <!-- Logout -->
            <li class="menu-item">
                <a href="/" class="menu-link">
                    <span class="material-symbols-outlined menu-icon">logout</span>
                    <span class="title">로그아웃</span>
                </a>
            </li>
        </ul>
    </aside>
</div>

<!-- Start Main Content Area -->
<div class="container-fluid">
    <div class="main-content d-flex flex-column">
        <!-- Start Header Area -->
        <header class="header-area bg-white mb-4 rounded-bottom-15" id="header-area">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="left-header-content">
                        <ul class="d-flex align-items-center ps-0 mb-0 list-unstyled justify-content-center justify-content-sm-start">
                            <li>
                                <button class="header-burger-menu bg-transparent p-0 border-0" id="header-burger-menu">
                                    <span class="material-symbols-outlined">menu</span>
                                </button>
                            </li>
                            <li>
                                <form class="src-form position-relative">
                                    <input type="text" class="form-control" placeholder="Search here.....">
                                    <button type="submit"
                                            class="src-btn position-absolute top-50 end-0 translate-middle-y bg-transparent p-0 border-0">
                                        <span class="material-symbols-outlined">search</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <!-- BOM 등록 영역 시작 -->

        <div class="card bg-white border-0 rounded-3 mb-4">
            <div class="card-body p-4">
                <div class="bom-header">
                    <h3 class="fs-24 mb-4">BOM 등록</h3>
                </div>

                <div class="tab-content" id="myTabContent" style="padding: 20px;">
                    <div class="tab-pane fade show active" id="register-tab-pane" role="tabpanel"
                         aria-labelledby="register-tab" tabindex="0">
                        <div>
                            <form onsubmit="return false;">
                                <div class="mb-3">
                                    <label class="form-label" for="product-search">BOM 상품 검색</label>
                                    <div class="d-flex justify-content-between align-items-center flex-wrap gap-0">
                                        <form class="position-relative table-src-form me-0">
                                            <input type="text" class="form-control ps-3" placeholder="등록할 상품 검색하기"
                                                   id="product-search" oninput="fetchProducts(this.value)" style="padding-left: 40px;">
                                            <ul id="suggestions" class="list-group"
                                                style="z-index: 1000; display: none;"></ul>
                                            <!-- <i class="material-symbols-outlined position-absolute" style="right: 50px; top: 35%; transform: translateY(-50%); color: gray;">search</i> -->
                                        </form>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <!-- BOM 테이블 시작 -->
                    <div class="default-table-area style-two production-team-registration padding-style">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                <tr>
                                    <th style="min-width: 150px;">원자재명</th>
                                    <th style="min-width: 100px;">수량</th>
                                    <th style="min-width: 0px;">삭제</th>
                                </tr>
                                </thead>
                                <tbody id="material-rows">
                                <tr>
                                    <td>
                                        <div class="position-relative">
                                            <input type="text" class="form-control mb-2" id="materialName_0" placeholder="원자재를 입력하세요"
                                                   oninput="fetchMaterials(this.value, 'suggestions_m_0', 'materialName_0')" style="height: 50px;">
                                            <ul id="suggestions_m_0" class="list-group"
                                                style="z-index: 1000; display: none;"></ul>
                                            <i class="material-symbols-outlined position-absolute top-50 end-10 translate-middle-y"
                                               style="right: 10px;">search</i>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control mb-2" placeholder="수량을 입력하세요"
                                               style="height: 50px;">
                                    </td>
                                    <td>
                                        <button class="ps-0 border-0 bg-transparent lh-1 position-relative top-2">
                                            <i class="material-symbols-outlined fs-20 text-danger">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- BOM 테이블 끝 -->
                        </form>

                        </table>
                        <!-- 원자재 추가 버튼 -->
                        <div class="centered-btn2">
                            <button type="button" class="btn btn-transparent btn-sm" onclick="addMaterialRow()">
                                <i class="ri-add-line"></i> 원자재 추가
                            </button>

                        </div>
                    </div>
                </div>

                <!-- 등록하기 버튼 -->
                <div class="centered-btn">
                    <button type="submit" class="btn btn-primary" onclick="submitBom();">
                        <i class="ri-add-line"></i> 등록하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BOM 등록 영역 끝 -->

<script>
    let materialRowCount = 1;

    function addMaterialRow() {
        const uniqueId = materialRowCount++;
        const row = `
                <tr>
                    <td>
                    <div class="position-relative">
                        <input type="text" class="form-control mb-2" id="materialName_${uniqueId}" placeholder="원자재를 입력하세요"
                               oninput="fetchMaterials(this.value, 'suggestions_m_${uniqueId}', 'materialName_${uniqueId}')" style="height: 50px;">
                        <ul id="suggestions_m_${uniqueId}" class="list-group" style="z-index: 1000; display: none;"></ul>
                        <i class="material-symbols-outlined position-absolute top-50 end-10 translate-middle-y" style="right: 10px;">search</i>
                    </div>
                    </td>
                    <td>
                        <input type="number" class="form-control" placeholder="수량을 입력하세요" style="height: 50px;" >
                    </td>
                    <td>

                                                <button class="ps-0 border-0 bg-transparent lh-1 position-relative top-2" onclick="removeMaterialRow(this)">
                                                    <i class="material-symbols-outlined fs-20 text-danger">delete</i>
                     </button>
                    </td>
                </tr>
            `;
        document.getElementById('material-rows').insertAdjacentHTML('beforeend', row);
    }

    function removeMaterialRow(button) {
        const row = button.closest('tr');
        row.remove();
    }

    async function fetchProducts(query) {
        const suggestionsList = document.getElementById('suggestions');

        // 입력값이 비어있으면 추천 목록 숨기기
        if (!query) {
            suggestionsList.style.display = 'none';
            suggestionsList.innerHTML = '';
            return;
        }

        try {
            const response = await fetch(`http://localhost:8080/api/information/products?productName=${query}`);
            const data = await response.json();
            const products = data.content;

            // 추천 목록 초기화
            suggestionsList.innerHTML = '';

            // 제품 목록이 있을 경우 추천 목록 표시
            if (products.length > 0) {
                products.forEach(product => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item list-group-item-action';
                    listItem.textContent = product.name;
                    listItem.onclick = function () {
                        document.getElementById('product-search').value = product.name; // 선택된 제품 이름으로 입력 필드 설정
                        suggestionsList.style.display = 'none'; // 추천 목록 숨기기
                    };
                    suggestionsList.appendChild(listItem);
                });
                suggestionsList.style.display = 'block'; // 추천 목록 표시
            } else {
                suggestionsList.style.display = 'none'; // 추천 목록 숨기기
            }
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    }

    async function fetchMaterials(query, suggestionsId, materialNameId) {
        const suggestionsList = document.getElementById(suggestionsId);

        // 입력값이 비어있으면 추천 목록 숨기기
        if (!query) {
            suggestionsList.style.display = 'none';
            suggestionsList.innerHTML = '';
            return;
        }

        try {
            const response = await fetch(`http://localhost:8080/information/materials?materialName=${query}`);
            const data = await response.json();
            const materials = data.content;

            // 추천 목록 초기화
            suggestionsList.innerHTML = '';

            // 제품 목록이 있을 경우 추천 목록 표시
            if (materials.length > 0) {
                materials.forEach(material => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item list-group-item-action';
                    listItem.textContent = material.name;
                    listItem.onclick = function () {
                        document.getElementById(materialNameId).value = material.name; // 선택된 제품 이름으로 입력 필드 설정
                        suggestionsList.style.display = 'none'; // 추천 목록 숨기기
                    };
                    suggestionsList.appendChild(listItem);
                });
                suggestionsList.style.display = 'block'; // 추천 목록 표시
            } else {
                suggestionsList.style.display = 'none'; // 추천 목록 숨기기
            }
        } catch (error) {
            console.error('Error fetching products:', error);
        }
    }

    async function submitBom() {
        const productName = document.getElementById('product-search').value;
        const materialRows = document.querySelectorAll('#material-rows tr');

        // 제품 이름을 통해 제품 ID 조회
        const productIdResponse = await fetch(`http://localhost:8080/api/manage/work/productId?productName=${encodeURIComponent(productName)}`);
        const productId = await productIdResponse.json(); // { id: <productId> } 형태로 응답받기

        const recipes = Array.from(materialRows).map(row => {
            const childId = row.querySelector('input[type="text"]').value;
            const quantity = row.querySelector('input[type="number"]').value;

            return {
                childId: childId,
                quantity: parseInt(quantity, 10)
            };
        });

        const bomRequest = {
            productId: productId.id,
            recipes: recipes
        };

        fetch('/api/information/boms', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bomRequest)
        })
            .then(response => {
                if (response.ok) {
                    alert('BOM이 등록되었습니다.');
                } else {
                    alert('BOM 등록에 실패했습니다. 다시 시도해주세요.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('BOM 등록 중 오류가 발생했습니다.');
            });
    }
</script>


<!-- Link Of JS File -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/sidebar-menu.js"></script>
<script src="/assets/js/dragdrop.js"></script>
<script src="/assets/js/rangeslider.min.js"></script>
<script src="/assets/js/sweetalert.js"></script>
<script src="/assets/js/quill.min.js"></script>
<script src="/assets/js/data-table.js"></script>
<script src="/assets/js/prism.js"></script>
<script src="/assets/js/clipboard.min.js"></script>
<script src="/assets/js/feather.min.js"></script>
<script src="/assets/js/simplebar.min.js"></script>
<script src="/assets/js/apexcharts.min.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/fullcalendar.main.js"></script>
<script src="/assets/js/custom/apexcharts.js"></script>
<script src="/assets/js/custom/custom.js"></script>


</body>
</html>